@page {
    size: A4 portrait;
    padding: 0;
    margin: 0;
}

#outline {
    width:209.4mm;
    height:296.4mm;
    border: 1px black solid;
    margin: 0;
    padding: 0;
}

#content {
    margin: 0;
    padding: 0;
    border: 1px red solid;
    height: 272.4mm;
    width: 183mm;
}

div, p, span, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 8pt;
    font-family: "DLRG Univers 55 Roman", sans-serif;
}

#brand {
    position: absolute;
    width: 32mm;
    left: 167mm;
    top: 15mm;
}
